{
    "window.commandCenter": true,
    "editor.fontFamily": "'FiraCode Nerd Font Mono', Menlo, Monaco, 'Courier New', monospace",
    "debug.console.collapseIdenticalLines": false,
    "workbench.colorTheme": "Catppuccin Mocha",
    "workbench.iconTheme": "catppuccin-mocha",
    "cursor.composer.usageSummaryDisplay": "always",
    "cursor.general.enableShadowWorkspace": true,
    "obsidianPreview.vaultPath": "{{ if hasKey . `obsidianVaultPath` }}{{ index . `obsidianVaultPath` }}{{ else }}{{ .chezmoi.homeDir }}/Documents/Obsidian/Vault{{ end }}",
    "update.releaseTrack": "prerelease",
    "terminal.integrated.fontFamily": "FiraCode Nerd Font Mono",
    "terminal.integrated.defaultProfile.linux": "zsh",
    "terminal.integrated.profiles.linux": {
      "zsh": {
        "path": "zsh"
      }
    },
    "git.replaceTagsWhenPull": true
}
