{{- $obsidianVaultPath := joinPath .chezmoi.homeDir "Documents" "Obsidian" "Vault" -}}
{{- if hasKey . "obsidianVaultPath" -}}
{{- $obsidianVaultPath = index . "obsidianVaultPath" -}}
{{- end -}}
{
    "window.commandCenter": true,
    "editor.fontFamily": "'FiraCode Nerd Font Mono', Menlo, Monaco, 'Courier New', monospace",
    "debug.console.collapseIdenticalLines": false,
    "workbench.colorTheme": "Catppuccin Mocha",
    "workbench.iconTheme": "catppuccin-mocha",
    "cursor.composer.usageSummaryDisplay": "always",
    "obsidianPreview.vaultPath": {{ $obsidianVaultPath | toJson }},
    "update.releaseTrack": "prerelease",
    "terminal.integrated.fontFamily": "FiraCode Nerd Font Mono",
    "terminal.integrated.defaultProfile.linux": "zsh",
    "terminal.integrated.profiles.linux": {
      "zsh": {
        "path": "zsh"
      }
    },
    "git.replaceTagsWhenPull": true
}
