{{- $codespaces:= env "CODESPACES" | not | not -}}
{{- $private := or (eq .chezmoi.os "windows") (stat (joinPath .chezmoi.homeDir ".private") | not | not) -}}
sourceDir = {{ .chezmoi.sourceDir | quote }}

[data]
    codespaces = {{ $codespaces }}
    private = {{ $private }}
