{{- $codespaces:= env "CODESPACES" | not | not -}}
{{- $private := or (eq .chezmoi.os "windows") (stat (joinPath .chezmoi.homeDir ".private") | not | not) -}}
[data]
    codespaces = {{ $codespaces }}
    private = {{ $private }}

[bitwarden]
    command = "bw"
