{{ if ne .chezmoi.os "windows" -}}
#!/bin/bash

# -e: exit on error
# -u: exit on unset variables
set -eu

if command -v brew >/dev/null 2>&1; then
  if [ -n "${CODESPACES:-}" ] || [ -n "${CI:-}" ] || [ -n "${HOMEBREW_CI:-}" ]; then
    exit 0
  fi

  brew update
  brew doctor || true
  brew upgrade --cask --greedy
  brew upgrade --greedy
  brew outdated --cask --greedy --verbose
  brew outdated --greedy --verbose
  brew cleanup
fi
{{- end }}
