{{- $workChromeProfile := "chipwolf.uk" -}}
{{- if ne (env "DOTFILES_SKIP_BITWARDEN") "1" -}}
{{- $workChromeProfile = (bitwarden "item" "work-domain").name -}}
{{- end -}}
// ~/.finicky.js

export default {
  defaultBrowser: 'Google Chrome:chipwolf.uk',

  options: {
    checkForUpdates: true,
    logRequests: true
  },

  handlers: [
    {
      match: ['{{ $workChromeProfile }}/*', '*.{{ $workChromeProfile }}/*'],
      browser: 'Google Chrome:{{ $workChromeProfile }}'
    },
    {
      match: ['*.atlassian.net/*', 'atlassian.com/*', '*.atlassian.com/*'],
      browser: 'Google Chrome:{{ $workChromeProfile }}'
    },
    {
      match: 'github.com/*',
      browser: 'Google Chrome:{{ $workChromeProfile }}'
    },
    {
      match: ['google.com/*', '*.google.com/*'],
      browser: 'Google Chrome:{{ $workChromeProfile }}'
    },
    {
      match: ['okta.com/*', '*.okta.com/*'],
      browser: 'Google Chrome:{{ $workChromeProfile }}'
    },
    {
      match: ['slack.com/*', '*.slack.com/*'],
      browser: 'Google Chrome:{{ $workChromeProfile }}'
    }
  ]
}
